@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Space Mono', monospace;
}

body {
  background-color: rgb(30, 32, 42);
}

.layout {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.dashboarditems {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
}

.items {
  display:flex;
  gap:30px;
}

.myquizzes,.myreports,.logout {
  background-color: transparent;
  border: none;
  color: rgb(62, 218, 130);
  padding:5px;
  border-radius: 3px;
  font-weight: bold;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8%;
  color: white;
  padding: 20px;
}

.header>h3 {
  color: rgb(62, 218, 130);
}

.title {
  color: rgb(62, 218, 130)
}

.signupbutton {
  padding: 5px;
  border-radius: 2px;
  border: none;
}

.signup,
.login,
.createtemplate,
.homepage,
.gamearea,
.questions,
.play,
.game,.score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 92%;
  color: gainsboro;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

input {
  width: 475px;
  height: 30px;
  padding: 15px;
  border-radius: 2px;
  border: 1px solid black;
}

.signupsubmit {
  width: 475px;
  height: 40px;
  border-radius: 2px;
  background-color: rgb(62, 218, 130);
  color: black;
  font-weight: bold;
  font-size: 15px;
}

.loginsubmit {
  width: 475px;
  height: 40px;
  border-radius: 2px;
  background-color: rgb(62, 218, 130);
  color: black;
  font-weight: bold;
  font-size: 15px;
}

.templates,.reports {
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 15px;
}

.newtemplate {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: rgb(62, 218, 130);
  opacity: 0.7;
  margin: 15px;
  height: 80px;
  font-size: 20px;
  font-weight: bold;
}

.newtemplate:hover {
  opacity: 0.5
}

.template,.report {
  display: flex;
  background-color: rgb(62, 218, 130);
  justify-content: space-between;
  color: black;
  padding: 15px;
  border-radius: 4px;
}

.buttonssection {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.buttonssection>button {
  width: 70px;
  padding: 8px;
  background-color: black;
  color: white;
  border-radius: 6px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.buttonssection>button:hover {
  opacity: 0.8
}

.questions {
  position: relative;
}

.questions>button {
  padding: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: rgb(62, 218, 130);
  border-radius: 4px;
  border: none;
  font-weight: bold;
}

.questions>button:hover {
  opacity: 0.8;
}

.newquestion {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  background-color: white;
  color: black;
  padding: 15px;
  height: 500px;
  width: 500px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 4px;
  gap: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}

select {
  margin-left: 10px;
  padding: 5px;
}

.formsectionquestion {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input[type=checkbox] {
  cursor: pointer;
  position: absolute;
}

input[type=checkbox]:before {
  background-color: white;
}

input[type=checkbox]:checked:after {
  background-color: rgb(62, 218, 130);
}

.formsectionquestion>p {
  margin-left: 80px;
  margin-bottom: 20px;
}

.innersection {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.value {
  width: 390px;
  margin-left: 60px;
}

#question {
  width: 445px;
}

#choice1 {
  left: -200px;
  bottom: 210px;
}

#choice2 {
  left: -200px;
  bottom: 163px;
}

#choice3 {
  left: -200px;
  bottom: 115px;
}

#choice4 {
  left: -200px;
  bottom: 68px;
}

#choice11 {
  left: -200px;
  bottom: 210px;
}

#choice22 {
  left: -200px;
  bottom: 155px;
}

.questionsubmit {
  width:450px;
  margin-top: 10px;
  background-color: rgb(62, 218, 130);
  border: none;
  padding: 5px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 15px;
}

.questionsubmit:hover {
  opacity: 0.8
}

.contentsection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.loginsubmit:hover {
  opacity: 0.8
}

.signupsubmit:hover {
  opacity: 0.8
}

.playsection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
}

.playtext{
  align-self: center;
}

.playsection>button {
  width: 475px;
  height: 45px;
  margin-top: 15px;
  font-size: 18px;
  font-weight: bold;
}

.newtemplate>p {
  border: 1px solid black;
  padding: 5px;
}

.addquestion {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: 1px solid;
  padding: 8px;
}

.plus {
  border: 1px solid black;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
}

button {
  cursor: pointer;
}

.section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 50px;
}

.teachersection,
.studentsection {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 250px;
  border: transparent;
  background-color: rgb(62, 218, 130);
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.teachersection:hover {
  opacity: 0.8;
}

.studentsection:hover {
  opacity: 0.8;
}

.blank {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(37, 42, 65);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  height: 200px;
}

.homepagebutton {
  text-align: center;
  margin: auto;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: white;
  border-radius: 50%;
  height: 70px;
  width: 70px;
}

.student {
  width: 40px;
  height: 40px;
}

.teacher {
  width: 30px;
  height: 30px;
}

.choices {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 35px;
  width: 700px;
  margin-top: 70px;
}

.choice {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 310px;
  height: 35px;
  border: 1px solid black;
  padding: 10px;
  border-radius: 3px;
}

.teacherscreen,
.studentscreen {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  width: 700px;
  height: 500px;
  gap:20px;
}
.teacherscreen>button{
  margin:20px;
  height: 40px;
  padding: 10px;
  background-color: rgb(62, 218, 130);
  border:none;
  border-radius: 4px;
}
.gameteacher {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 4px;
}

.gameteachersection {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 700px;
  height: 200px;
  color: white;
}

.tsection,
.ssection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 98%;
  gap:25px;
}

.timebox {
  width: 100%;
  height: 2%;
  background-color: gainsboro;
}

.timebar {
  width: 100%;
  height: 100%;
  background-color: rgb(62, 218, 130);
}

.quizquestion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.choicenumber {
  background-color: grey;
  color: white;
  width: 25px;
  height: 25px;
  text-align: center;
  border-radius: 50%;
}

.choicestudent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 35px;
  border: 1px solid black;
  background-color: grey;
  color: white;
  padding: 10px;
  border-radius: 3px;
}

.bar{
  background-color: rgb(62, 218, 130);
  width:30px;
}
.goback{
  padding:6px;
  width: 150px;
  border-radius: 4px;
  border:none;
  background-color: rgb(62, 218, 130);
  font-weight: bold;
}

.barbox,.studentname{
  display:flex;
  align-items: flex-end;
}
.barbox{
  border: 2px solid black;
  padding-top:20px;
  padding-right:20px;
  padding-left:20px;
  gap:50px;
}
.studentname{
  padding:10px;
  gap:20px;
}

.scorepagestudent,.scorepageteacher{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:40px;
  background-color: white;
  color:black;
  padding:15px;
  width:700px;
  height:500px;
}